<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aidilude.mybatisgenerator.mapper.MyFriendsMapper" >
  <resultMap id="BaseResultMap" type="com.aidilude.mybatisgenerator.pojo.MyFriends" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="my_user_id" property="myUserId" jdbcType="VARCHAR" />
    <result column="friend_user_id" property="friendUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, my_user_id, friend_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from my_friends
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from my_friends
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aidilude.mybatisgenerator.pojo.MyFriends" >
    insert into my_friends (id, my_user_id, friend_user_id
      )
    values (#{id,jdbcType=VARCHAR}, #{myUserId,jdbcType=VARCHAR}, #{friendUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aidilude.mybatisgenerator.pojo.MyFriends" >
    insert into my_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="myUserId != null" >
        my_user_id,
      </if>
      <if test="friendUserId != null" >
        friend_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="myUserId != null" >
        #{myUserId,jdbcType=VARCHAR},
      </if>
      <if test="friendUserId != null" >
        #{friendUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aidilude.mybatisgenerator.pojo.MyFriends" >
    update my_friends
    <set >
      <if test="myUserId != null" >
        my_user_id = #{myUserId,jdbcType=VARCHAR},
      </if>
      <if test="friendUserId != null" >
        friend_user_id = #{friendUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aidilude.mybatisgenerator.pojo.MyFriends" >
    update my_friends
    set my_user_id = #{myUserId,jdbcType=VARCHAR},
      friend_user_id = #{friendUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>